// Spacing
$gap: 0.5rem;
$page-width: 80rem;

// Borders
$smallCorner: 0.25rem; // 4px
$largeCorner: 0.5rem; // 8px

// Media breakpoints
$mob-up: 375px;
$tab-up: 775px;
$lap-up: 1024px;
$desk-up: 1200px;